<!DOCTYPE html>
<html>
    <head>
        <title>Style UP-Blog</title>
        <meta name="viewport" content="width=device-width">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/blog.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Lexend Giga' rel='stylesheet'>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>

        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>
    </head>
<body>
<header>
            <div class="navbar">
                <div class="unit1">
                    <a href="/"><button class="nav_item"> Home</button></a>
                    <button class="nav_item">Category
                        <ul class="submenu">
                            <li><a href="/men/" class="nav_item" style="font-weight: bolder;"> Men</a></li>
                            <div class="nav_item">
                                &nbsp;<li><b ><pre>Topwear </pre></b></li>
                                <div class="subcategory" id="id1">
                                    <ul >
                                        <li><a href="/shop/men_shirts" class="nav_item" name="shirts" >Shirts</a></li>
                                        <li><a href="/shop/men_sweaters" class="nav_item" name="sweaters">Sweaters</a></li>
                                        <li><a href="/shop/men_suits" class="nav_item" name="suits">Suits</a></li><br>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="nav_item">
                                &nbsp;<li><b><pre> Bottomwear </pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="/shop/men_jeans" class="nav_item" name="jeans" >Jeans</a></li>
                                        <li><a href="/shop/men_trousers" class="nav_item" name="trousers">Trousers</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav_item">
                                &nbsp;<li><b><pre> Festive wear</pre></b></li>
                                <div class="subcategory">
                                    <ul>
                                        <li><a href="/shop/men_kurtas" class="nav_item" name="kurtas">Kurtas & Kurtis</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <li><a href="/women/" class="nav_item" style="clear: left;font-weight: bolder;">Women</a></li>
                            
                            <div class="nav_item">
                                &nbsp;<li><b><pre>Indianwear </pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="/shop/women_kurtas" class="nav_item" name="kurtas" >Kurtas & Kurtis</a></li>
                                        <li><a href="/shop/women_ethnic" class="nav_item" name="ethnic" >Ethnic</a></li>
                                        <li><a href="/shop/women_sarees" class="nav_item" name="saree" style="clear: left;">Sarees</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="nav_item">
                                &nbsp;<li><b><pre> Westernwear </pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="/shop/women_dresses" class="nav_item" name="dress" >Dresses</a></li>
                                        <li><a href="/shop/women_jumpsuits" class="nav_item" name="jumpsuit">Jumpsuit</a></li>
                                        <li><a href="/shop/women_sweatshirts" class="nav_item" name="sweatshirts">Sweatshirts</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav_item">
                                &nbsp;<li><b ><pre> Bottomwear</pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="/shop/women_skirts" class="nav_item" name="skirts" >Skirts</a></li>
                                        <li><a href="/shop/women_palazzos" class="nav_item" name="palazzo">Palazzos</a></li>
                                        <li><a href="/shop/women_jeans" class="nav_item" name="jeans">Jeans</a></li>
                                    </ul>
                                </div>
                            </div>

                            <li><a href="/kids/" class="nav_item" style="font-weight: bolder;clear:left;">Kids</a></li><br>
                            <div class="nav_item">
                                &nbsp;<li><b><pre>Boys </pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="/shop/boys_shirts" class="nav_item" name="shirts" >Shirts</a></li>
                                        <li><a href="/shop/boys_trousers" class="nav_item" name="trousers">Trousers</a></li>
                                        <li><a href="/shop/boys_sets" class="nav_item" name="sets">Sets</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav_item">
                                &nbsp;<li><b><pre> Girls</pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="/shop/girls_dresses" class="nav_item" name="dress" >Dresses</a></li>
                                        <li><a href="/shop/girls_skirts" class="nav_item" name="skirts">Skirts</a></li>
                                        <li><a href="/shop/girls_sets" class="nav_item" name="sets">Sets</a></li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </button>
                    <a href="/blog/"><button class="nav_item">Blog</button></a>
                </div>
                <div class="unit2">
                    <form action="/logout/">
                        <button><i class="fa fa-power-off" ></i></button>
                    </form>
                    <form action="/profile/">
                        <button><i class="fa fa-user" ></i></button>
                    </form>
                    <form action="/cart/">
                        <button><i class="fa fa-shopping-cart" ></i></button>
                    </form>
                    <form action="/wishlist/">
                        <button><i class="fa fa-heart"></i></button>
                    </form>

                      <button style="float:right;" onclick="filterFunction();myFunction();" class="dropbtn"><i class="fa fa-search"></i></button>
                      <input style="margin-top:10px;padding:4px;" type="text" placeholder="Search.." id="myInput">
                    <div id="myDropdown" class="dropdown-content">
                          <a href="/shop/men_shirts">Men Shirts</a>
                          <a href="/shop/men_sweaters">Men Sweaters</a>
                          <a href="/shop/men_trousers">Men Trousers</a>
                          <a href="/shop/men_suits">Men suits</a>
                          <a href="/shop/men_jeans">Men Jeans</a>
                          <a href="/shop/men_kurtas">Men Kurtas and Kurtis</a>
                          <a href="/shop/boys_sets">Boys suits</a>
                      </div>

                </div>
            </div>
            <div id="mySidenav" class="sidenav">
                <ul>
                    <li><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></li>
                    <li><a href="/">Home</a></li>
                    <li> Category
                            <ul class="submenu">
                                <li><a href="/men/">Men</a></li>
                                <li><a href="/women/" >Women</a></li>
                                <li><a href="/kids/" >Kids</a></li>
                            </ul>
                    </li>
                    <li><a href="/blog/">Blog</a></li>
                </ul>
            </div>
            <span class="sidemenu-content" onclick="openNav()">&#9776; </span>
                <div class="unit3">
                    <form action="/logout/">
                        <button><i class="fa fa-power-off" ></i></button>
                    </form>
                    <form action="/profile/">
                        <button><i class="fa fa-user" ></i></button>
                    </form>
                    <form action="/cart/">
                        <button><i class="fa fa-shopping-cart" ></i></button>
                    </form>
                    <form action="/wishlist/">
                        <button><i class="fa fa-heart"></i></button>
                    </form>

                      <button style="float:right;"onclick="filterFunction2();myFunction2();" class="dropbtn2"><i class="fa fa-search"></i></button>
                      <input style="float:right;margin-top:10px;" type="text" placeholder="Search.." size="8" id="myInput2">
                    <div id="myDropdown2" class="dropdown-content2">
                        <a href="/shop/men_shirts">Men Shirts</a>
                        <a href="/shop/men_sweaters">Men Sweaters</a>
                        <a href="/shop/men_trousers">Men Trousers</a>
                        <a href="/shop/men_suits">Men suits</a>
                        <a href="/shop/men_jeans">Men Jeans</a>
                        <a href="/shop/men_kurtas">Men Kurtas and Kurtis</a>
                        <a href="/shop/boys_sets">Boys suits</a>
                      </div>
                </div>
        </header>
        <br>
        <div class="content">
            <div class="head2">
                <p class="logo"><b>S T Y L E U P</b></p>
                <div class="ctg">

                    <a class="circle" href="/men/"><i style="font-size:24px;" class="fa">&#xf183;</i>Men</a>
                    <a class="circle" href="/women/"> <i style="font-size:24px" class="fa">&#xf182;</i>Women</a>
                    <a class="circle" href="/kids/"><i style="font-size:24px" class="fa">&#xf1ae;</i>Kids</a>
                </div>
            </div>
        </div>
        <div class="ads">
            <figure><img src="{{ url_for('static',filename='images/women_advertisement.jpg') }}"></figure>
        </div>

        <div>
            <h2 style="background-color:#c99947;width:290px;height:30px;margin-top:30%;text-align:center;float:right;margin-right:-19%">NEW COLLECTION</h2>
        </div>

        <div class="blog1">
           <img src="{{ url_for('static',filename='images/women_kurtis.jpg') }}">
        </div>
        <div>
            <h2 style="background-color:#c99947;width:60px;height:60px;text-align:center;float:left;margin-left:-54%;margin-top:-1%;">Nov 11</h2>
        </div>
        <div><p style="margin-top:53%;margin-left:15%;margin-right:10%;color:grey;font-size:18px;">Shalwars are trousers which are atypically wide
            at the waist but which narrow to a cuffed bottom. They are held up by a drawstring or elastic belt,
            which causes them to become pleated around the waist.The trousers can be wide and baggy, or they can be cut
            quite narrow, on the bias. Shalwars have been traditionally worn in a wide region which includes Eastern Europe,
            West Asia,Central Asia, and South Asia. The kameez is a long shirt or tunic.The side seams are left open below
            the waist-line (the opening known as the chaak[note 1]), which gives the wearer greater freedom of movement.
            The kameez is usually cut straight and flat; older kameez use traditional cuts; modern kameez are more likely
            to have European-inspired set-in sleeves. The kameez may have a European-style collar, a Mandarin collar, or
            it may be collarless; in the latter case, its design as a women's garment is similar to a kurta. The combination
            garment is sometimes called salwar kurta, salwar suit, or Punjabi suit The shalwar and kameez were introduced
            into South Asia after the arrival of Muslims in the north in the 13th century: at first worn by Muslim women,
            their use gradually spread, making them a regional style, especially in the historical Punjab region.
            The shalwar-kameez is a widely-worn,and national dress,of Pakistan.
            It is also widely worn by men in Afghanistan, and by women and some men in the Punjab region of India,
            from which it has been adopted by women throughout India, and more generally in South Asia.</p>
        <p style="float:right;margin-right:10%;margin-top:-1%;font-size:20px;">By- Sadhana Bhat</p></div>
    </body>
</html>