<!DOCTYPE html>
<html>
    <head>
        <title>Style UP</title>
        <meta name="viewport" content="width=device-width">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        
    </head>
    <body>
        
        <header>
            <div class="navbar">
                <div class="unit1">
                    <a href="/"><button class="nav_item"> Home</button></a>
                    <button class="nav_item">Category
                        <ul class="submenu">
                            <li><a href="/men/" class="nav_item" style="font-weight: bolder;"> Men</a></li>
                            <div class="nav_item">
                                &nbsp;<li><b ><pre>Topwear </pre></b></li>
                                <div class="subcategory" id="id1">
                                    <ul >
                                        <li><a href="/shop/men_shirts" class="nav_item" name="shirts" >Shirts</a></li>
                                        <li><a href="/shop/men_sweaters" class="nav_item" name="sweaters">Sweaters</a></li>
                                        <li><a href="/shop/men_suits" class="nav_item" name="suits">Suits</a></li><br>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="nav_item">
                                &nbsp;<li><b><pre> Bottomwear </pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="/shop/men_jeans" class="nav_item" name="jeans" >Jeans</a></li>
                                        <li><a href="/shop/men_trousers" class="nav_item" name="trousers">Trousers</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav_item">
                                &nbsp;<li><b><pre> Festive wear</pre></b></li>
                                <div class="subcategory">
                                    <ul>
                                        <li><a href="/shop/kurtas" class="nav_item" name="kurtas">Kurtas & Kurtis</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <li><a href="/women/" class="nav_item" style="clear: left;font-weight: bolder;">Women</a></li>
                            
                            <div class="nav_item">
                                &nbsp;<li><b><pre>Indianwear </pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="/shop/women_kurtas" class="nav_item" name="kurtas" >Kurtas & Kurtis</a></li>
                                        <li><a href="/shop/women_ethnic" class="nav_item" name="ethnic" >Ethnic</a></li>
                                        <li><a href="/shop/women_sarees" class="nav_item" name="saree" style="clear: left;">Sarees</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="nav_item">
                                &nbsp;<li><b><pre> Westernwear </pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="/shop/women_dresses" class="nav_item" name="dress" >Dresses</a></li>
                                        <li><a href="/shop/women_jumpsuits" class="nav_item" name="jumpsuit">Jumpsuit</a></li>
                                        <li><a href="/shop/women_sweatshirts" class="nav_item" name="sweatshirts">Sweatshirts</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav_item">
                                &nbsp;<li><b ><pre> Bottomwear</pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="/shop/women_skirts" class="nav_item" name="skirts" >Skirts</a></li>
                                        <li><a href="/shop/women_palazzos" class="nav_item" name="palazzo">Palazzos</a></li>
                                        <li><a href="/shop/women_jeans" class="nav_item" name="jeans">Jeans</a></li>
                                    </ul>
                                </div>
                            </div>

                            <li><a href="/kids/" class="nav_item" style="font-weight: bolder;clear:left;">Kids</a></li><br>
                            <div class="nav_item">
                                &nbsp;<li><b><pre>Boys </pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="/shop/boys_shirts" class="nav_item" name="shirts" >Shirts</a></li>
                                        <li><a href="/shop/boys_trousers" class="nav_item" name="trousers">Trousers</a></li>
                                        <li><a href="/shop/boys_sets" class="nav_item" name="sets">Sets</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav_item">
                                &nbsp;<li><b><pre> Girls</pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="/shop/girls_dresses" class="nav_item" name="dress" >Dresses</a></li>
                                        <li><a href="/shop/girls_skirts" class="nav_item" name="skirts">Skirts</a></li>
                                        <li><a href="/shop/girls/sets" class="nav_item" name="sets">Sets</a></li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </button>
                    <a href="/blog/"><button class="nav_item">Blog</button></a>
                </div>
                <div class="unit2">
                    <form action="/profile/">
                        <button><i class="fa fa-user" ></i></button>
                    </form>
                    <form action="/cart/">
                        <button><i class="fa fa-shopping-cart" ></i></button>
                    </form>
                    <form action="/wishlist/">
                        <button><i class="fa fa-heart"></i></button>
                    </form>

                    <input type="text" placeholder="Search.." id="myInput">
                      <button onclick="filterFunction();myFunction();" class="dropbtn"><i class="fa fa-search"></i></button>
                      <div id="myDropdown" class="dropdown-content">
                          <a href="/shop/menshirts">Men Shirts</a>
                          <a href="#">Men Sweaters</a>
                          <a href="#">Men Trousers</a>
                          <a href="#">Men suits</a>
                          <a href="#">Men Jeans</a>
                          <a href="#">Men Kurtas and Kurtis</a>
                          <a href="#">Boys suits</a>
                      </div>

                </div>
            </div>
            <div id="mySidenav" class="sidenav">
                <ul>
                    <li><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></li>
                    <li><a href="/home/">Home</a></li>
                    <li> Category
                            <ul class="submenu">
                                <li><a href="/men/">Men</a></li>
                                <li><a href="/women/" >Women</a></li>
                                <li><a href="/kids/" >Kids</a></li>
                            </ul>
                    </li>
                    <li><a href="/blog/">Blog</a></li>
                </ul>
            </div>
            <span class="sidemenu-content" onclick="openNav()">&#9776; </span>
                <div class="unit3">
                    <form action="/profile/">
                        <button><i class="fa fa-user" ></i></button>
                    </form>
                    <form action="/cart/">
                        <button><i class="fa fa-shopping-cart" ></i></button>
                    </form>
                    <form action="/wishlist/">
                        <button><i class="fa fa-heart"></i></button>
                    </form>
                    <form action="">

                        <button type="submit" style="float: right;"><i class="fa fa-search" ></i></button>
                        <div class="unit4">
                            <input type="text" name="search" placeholder="Search here.." size="13"  style="border:none;outline:none;">
                        </div>
                    </form>
                </div>
        </header>
    
        <br>
        <div class="content">
            <div class="head2">
                <p class="logo" ><b>S T Y L E U P</b></p>
                <div class="ctg">
                    <a class="circle" href="/men/"><i style="font-size:24px;" class="fa">&#xf183;</i>Men</a>
                    <a  class="circle" href="/women/"> <i style="font-size:24px" class="fa">&#xf182;</i>Women</a>
                    <a class="circle" href="/kids/"><i style="font-size:24px" class="fa">&#xf1ae;</i>Kids</a>
                </div>
            </div>

            <div class="ele3">
                <div class="slideshow-container">
                    <div class="mySlides fade">
                        <img class="slide_image"src="static/images/img8.jpg" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <img class="slide_image" src="static/images/img6.webp" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <img class="slide_image" src="static/images/img7.webp" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <img class="slide_image" src="static/images/img5.jpg" style="width:100%">
                    </div>
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
            </div>
        </div>
        <div class="ele4">
             <p class="logo" id="logosmall"><b>S T Y L E U P</b></p>
            <div class="vl"></div>
            <blockquote>Fashion is not necessarily about labels. It's not about brands. It's about something else that comes from within you!
            </blockquote>
        </div>
        <div class="head2">
            <table class="brand-display" cellspacing="10">
                <tr>
                    <td class="display" colspan="2" ><a href="#" ><img src="static/images/img1.jpg" style="width:100%;height:60%;"><p style="margin-top:-3%;
    margin-left:50%;" class="price">$150</p></a></td>
                    <td class="display" rowspan="2"><a href="#" ><img src="static/images/img2.jpg" style="width:100%;height:75%"><p style="margin-top:-3%;
    margin-left:15%;" class="price">$300</p></a></td>
                  </tr>
                  <tr>
                    <td class="display"><a href="#" ><img src="static/images/img3.webp" style="width:100%;height:30%;"><p style="margin-top:-3%;
    margin-left:20%;" class="price">$599</p></a></td>
                    <td class="display"><a href="#" ><img src="static/images/img4.webp" style="width:100%;height:30%"><p style="margin-top:-3%;
    margin-left:20%;" class="price">$219</p></a></td>
                  </tr>
            </table>
        </div>

        <div style="margin-left: 10%;margin-right: 10%; height: 100%;">
                <p class="rectangle rectangle-responsive"><i class="fa fa-paper-plane"></i> Free shipping world wide</p>
                <p class="rectangle rectangle-responsive"><i class="fa fa-refresh"></i> Money back guarentee</p>
                <p class="rectangle rectangle-responsive"><i class="fas fa-headset"></i> Online support 24/7</p>
        </div>
        <footer>
            
        </footer>
    </body>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        function currentSlide(n) {
          showSlides(slideIndex = n);
        }

        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
        }

        function myFunction() {
              document.getElementById("myDropdown").classList.toggle("show");
            }

                function filterFunction() {
                  var input, filter, ul, li, a, i;
                  input = document.getElementById("myInput");
                  filter = input.value.toUpperCase();
                  div = document.getElementById("myDropdown");
                  a = div.getElementsByTagName("a");
                  for (i = 0; i < a.length; i++) {
                    txtValue = a[i].textContent || a[i].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                      a[i].style.display = "";
                    } else {
                      a[i].style.display = "none";
                    }
                  }
                }
        </script>
</html>