<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Style UP-Blog</title>
        <meta name="viewport" content="width=device-width">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>
<body>

<h2 style="font-family:'Lucida Console', Courier, monospace;text-align:center;">Welcome to Style Up</h2>
<h3>{{data}}</h3>
<h3>{{data1}}</h3>
<div id="form1" class="reg">
        <form  action="/check" method="post">
          <div class="imgcontainer">
            <p class="logo" ><b>S T Y L E U P</b></p>
          </div>

          <div class="container">
            <label><b>Email</b></label>
            <input type="text" placeholder="Enter Username" name="email" required>
            <br><br>
          <label><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <button type="submit">Login</button>
            <button class="open-button" onclick="openForm()">Sign Up</button>
        </div>
        </form>
</div>


<div class="form-popup" id="myForm">
  <form action="/submit" class="form-container" method="post">
    <h1>Sign Up</h1>
      <div class="imgcontainer">
            <p class="logo" ><b>S T Y L E U P</b></p>
      </div>
      <label for="email"><b>User Name</b></label>
      <input type="text" placeholder="Enter Email" name="s_uname" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="s_email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="s_psw" required>

    <button type="submit" class="btn">Sign Up</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

</body>
<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
  document.getElementById("form1").style.display = "none";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
  document.getElementById("form1").style.display  = "block";
}
</script>
</html>
