<!DOCTYPE html>
<html>
    <head>
        <title>Style UP| Product</title>
        <meta name="viewport" content="width=device-width">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/product.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Lexend Giga' rel='stylesheet'>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <link href='https://fonts.googleapis.com/css?family=Alatsi' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Alike' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Coustard' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>
    
<body>
<header>
            <div class="navbar">
                <div class="unit1">
                    <a href="/"><button class="nav_item"> Home</button></a>
                    <button class="nav_item">Category
                        <ul class="submenu">
                            <li><a href="/men/" class="nav_item" style="font-weight: bolder;"> Men</a></li>
                            <div class="nav_item">
                                &nbsp;<li><b ><pre>Topwear </pre></b></li>
                                <div class="subcategory" id="id1">
                                    <ul >
                                        <li><a href="/shop/men_shirts" class="nav_item" name="shirts" >Shirts</a></li>
                                        <li><a href="/shop/men_sweaters" class="nav_item" name="sweaters">Sweaters</a></li>
                                        <li><a href="/shop/men_suits" class="nav_item" name="suits">Suits</a></li><br>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="nav_item">
                                &nbsp;<li><b><pre> Bottomwear </pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="/shop/men_jeans" class="nav_item" name="jeans" >Jeans</a></li>
                                        <li><a href="/shop/men_trousers" class="nav_item" name="trousers">Trousers</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav_item">
                                &nbsp;<li><b><pre> Festive wear</pre></b></li>
                                <div class="subcategory">
                                    <ul>
                                        <li><a href="/shop/men_kurtas" class="nav_item" name="kurtas">Kurtas & Kurtis</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <li><a href="/women/" class="nav_item" style="clear: left;font-weight: bolder;">Women</a></li>
                            
                            <div class="nav_item">
                                &nbsp;<li><b><pre>Indianwear </pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="/shop/women_kurtas" class="nav_item" name="kurtas" >Kurtas & Kurtis</a></li>
                                        <li><a href="/shop/women_ethnic" class="nav_item" name="ethnic" >Ethnic</a></li>
                                        <li><a href="/shop/women_sarees" class="nav_item" name="saree" style="clear: left;">Sarees</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="nav_item">
                                &nbsp;<li><b><pre> Westernwear </pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="/shop/women_dresses" class="nav_item" name="dress" >Dresses</a></li>
                                        <li><a href="/shop/women_jumpsuits" class="nav_item" name="jumpsuit">Jumpsuit</a></li>
                                        <li><a href="/shop/women_sweatshirts" class="nav_item" name="sweatshirts">Sweatshirts</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav_item">
                                &nbsp;<li><b ><pre> Bottomwear</pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="/shop/women_skirts" class="nav_item" name="skirts" >Skirts</a></li>
                                        <li><a href="/shop/women_palazzos" class="nav_item" name="palazzo">Palazzos</a></li>
                                        <li><a href="/shop/women_jeans" class="nav_item" name="jeans">Jeans</a></li>
                                    </ul>
                                </div>
                            </div>

                            <li><a href="/kids/" class="nav_item" style="font-weight: bolder;clear:left;">Kids</a></li><br>
                            <div class="nav_item">
                                &nbsp;<li><b><pre>Boys </pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="/shop/boys_shirts" class="nav_item" name="shirts" >Shirts</a></li>
                                        <li><a href="/shop/boys_trousers" class="nav_item" name="trousers">Trousers</a></li>
                                        <li><a href="/shop/boys_sets" class="nav_item" name="sets">Sets</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav_item">
                                &nbsp;<li><b><pre> Girls</pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="/shop/girls_dresses" class="nav_item" name="dress" >Dresses</a></li>
                                        <li><a href="/shop/girls_skirts" class="nav_item" name="skirts">Skirts</a></li>
                                        <li><a href="/shop/girls_sets" class="nav_item" name="sets">Sets</a></li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </button>
                    <a href="/blog/"><button class="nav_item">Blog</button></a>
                </div>
                <div class="unit2">
                    <form action="/logout/">
                        <button><i class="fa fa-power-off" ></i></button>
                    </form>
                    <form action="/profile/">
                        <button><i class="fa fa-user" ></i></button>
                    </form>
                    <form action="/cart/">
                        <button><i class="fa fa-shopping-cart" ></i></button>
                    </form>
                    <form action="/wishlist/">
                        <button><i class="fa fa-heart"></i></button>
                    </form>

                      <button style="float:right;" onclick="filterFunction();myFunction();" class="dropbtn"><i class="fa fa-search"></i></button>
                      <input style="margin-top:10px;padding:4px;" type="text" placeholder="Search.." id="myInput">
                    <div id="myDropdown" class="dropdown-content">
                          <a href="/shop/men_shirts">Men Shirts</a>
                          <a href="/shop/men_sweaters">Men Sweatshirts</a>
                          <a href="/shop/men_trousers">Men Trousers</a>
                          <a href="/shop/men_suits">Men suits</a>
                          <a href="/shop/men_jeans">Men Jeans</a>
                          <a href="/shop/men_kurtas">Men Kurtas and Kurtis</a>
                          <a href="/shop/women_kurtas">Women Kurtas</a>
                          <a href="/shop/women_ethnic">Women Ethnic</a>
                          <a href="/shop/women_sarees">Women Sarees</a>
                          <a href="/shop/women_dresses">Women Dresses</a>
                          <a href="/shop/women_jumpsuits">Women Jumpsuits</a>
                          <a href="/shop/women_sweatshirts">Women Sweatshirts</a>
                          <a href="/shop/women_skirts">Women Skirts</a>
                          <a href="/shop/women_palazzos">Women Palazzos</a>
                          <a href="/shop/women_jeans">Women Jeans</a>
                          <a href="/shop/boys_shirts">Boys Shirts</a>
                          <a href="/shop/boys_trousers">Boys Trousers</a>
                          <a href="/shop/boys_sets">Boys Sets</a>
                          <a href="/shop/girls_dresses">Girls Dresses</a>
                          <a href="/shop/girls_skirts">Girls Skirts</a>
                          <a href="/shop/girls_sets">Girls Sets</a>
                      </div>

                </div>
            </div>
            <div id="mySidenav" class="sidenav">
                <ul>
                    <li><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></li>
                    <li><a href="/">Home</a></li>
                    <li> Category
                            <ul class="submenu">
                                <li><a href="/men/">Men</a></li>
                                <li><a href="/women/" >Women</a></li>
                                <li><a href="/kids/" >Kids</a></li>
                            </ul>
                    </li>
                    <li><a href="/blog/">Blog</a></li>
                </ul>
            </div>
            <span class="sidemenu-content" onclick="openNav()">&#9776; </span>
                <div class="unit3">
                    <form action="/logout/">
                        <button><i class="fa fa-power-off" ></i></button>
                    </form>
                    <form action="/profile/">
                        <button><i class="fa fa-user" ></i></button>
                    </form>
                    <form action="/cart/">
                        <button><i class="fa fa-shopping-cart" ></i></button>
                    </form>
                    <form action="/wishlist/">
                        <button><i class="fa fa-heart"></i></button>
                    </form>

                      <button style="float:right;"onclick="filterFunction2();myFunction2();" class="dropbtn2"><i class="fa fa-search"></i></button>
                      <input style="float:right;margin-top:10px;" type="text" placeholder="Search.." size="8" id="myInput2">
                    <div id="myDropdown2" class="dropdown-content2">
                        <a href="/shop/men_shirts">Men Shirts</a>
                          <a href="/shop/men_sweaters">Men Sweatshirts</a>
                          <a href="/shop/men_trousers">Men Trousers</a>
                          <a href="/shop/men_suits">Men suits</a>
                          <a href="/shop/men_jeans">Men Jeans</a>
                          <a href="/shop/men_kurtas">Men Kurtas and Kurtis</a>
                          <a href="/shop/women_kurtas">Women Kurtas</a>
                          <a href="/shop/women_ethnic">Women Ethnic</a>
                          <a href="/shop/women_sarees">Women Sarees</a>
                          <a href="/shop/women_dresses">Women Dresses</a>
                          <a href="/shop/women_jumpsuits">Women Jumpsuits</a>
                          <a href="/shop/women_sweatshirts">Women Sweatshirts</a>
                          <a href="/shop/women_skirts">Women Skirts</a>
                          <a href="/shop/women_palazzos">Women Palazzos</a>
                          <a href="/shop/women_jeans">Women Jeans</a>
                          <a href="/shop/boys_shirts">Boys Shirts</a>
                          <a href="/shop/boys_trousers">Boys Trousers</a>
                          <a href="/shop/boys_sets">Boys Sets</a>
                          <a href="/shop/girls_dresses">Girls Dresses</a>
                          <a href="/shop/girls_skirts">Girls Skirts</a>
                          <a href="/shop/girls_sets">Girls Sets</a>
                      </div>
                </div>
        </header>
        <br>
        <div class="content">
            <div class="head2">
                <p class="logo"><b>S T Y L E U P</b></p>
                <div class="ctg">

                    <a class="circle" href="/men/"><i style="font-size:24px;" class="fa">&#xf183;</i>Men</a>
                    <a class="circle" href="/women/"> <i style="font-size:24px" class="fa">&#xf182;</i>Women</a>
                    <a class="circle" href="/kids/"><i style="font-size:24px" class="fa">&#xf1ae;</i>Kids</a>
                </div>
            </div>
        </div>
    <br><br><br>
        <div class="container">
            <div class="image_display">
                {% for i in data2 %}
                    
                    <img id="myImg" src="{{ url_for('static',filename=i[3]) }}">
                </div>
                <div class="description">
                    <p style="font-family: 'Alatsi';font-size:28px;"  >{{i[0]}}</p>
                    <p style="font-family: 'Alatsi';font-size:28px;" >{{i[1]}}</p>
                    <p style="font-family: 'Alike';font-size:25px;">{{i[2]}} &nbsp<SPAN STYLE="text-decoration:line-through;color:#a3a375;font-size:20px">Rs.1399</SPAN></p>
                    <p style="font-family: 'Alike';font-size:18px;color:#ff751a;"><b>50% OFF</b></p>
                    <p style="color:#03a685;font-size:15px;font-family: 'Coustard'">inclusive of all taxes</p>
                    {% endfor %}
                    <p style="font-family: 'Alike';font-size:25px;" >SELECT SIZE</p>
                    <ul id="menu">
                        {% for i in range(0,len)%}
                            <li><button id="size_{{i}}" value={{data3[i][0]}} onclick="select({{data3}},'size_{{i}}',{{data3[i]}})"> {{data3[i][0]}}</button></li>
                        {% endfor %}
                    </ul>
                    <p id="available" style="color:tomato"></p>
                <p style="font-family: 'Alike';font-size:25px;" >COLOR</p>
                <div class="colors">
                    {% for i in range(0,color_len) %}
                        <button style="background-color:{{data[i][0]}};" id="choice_{{i}}" value={{ data[i][0]}} onclick="after({{data[i]}},{{data}},'choice_{{i}}')"></button>
                    {% endfor %}
                </div>
                <br>
                <p id="alert" style="font-size: large;color: red;"></p>
            <button onclick="javascript:AddToCart('{{data2[0][4]}}');" id="add1" class="button1" ><i class="fa fa-shopping-bag"></i>&nbsp ADD TO BAG</button> 
            <button onclick="javascript:AddToFav('{{data2[0][4]}}');" id="add2" class="button2" ><i class="fa fa-heart"></i>&nbsp WISHLIST</button>
                <p style="font-size:20px;font-family: 'Coustard'">Product Description:</p>
            </div>
        </div>
    </body>
<script>
    var color="";
    var image="";
    var size="";
    function after(a,lst,select)
    {
        var path="../static/";
        image=a;
        document.getElementById('myImg').src=path+a;

        for(var i=0;i<lst.length;i++){

            if(select=="choice_"+i){
                color=document.getElementById("choice_"+i).value;
                document.getElementById("choice_"+i).style.border="thick solid black";
            }
            else{
                document.getElementById("choice_"+i).style.border="thick solid white";
            }

        }
    }
    function select(data3,index,avail){

        if(avail==0){
            document.getElementById("available").innerHTML="OUT OF STOCK";
            document.getElementById("add1").style.visibility="hidden";
        }
        else{
            document.getElementById("available").innerHTML="";
            document.getElementById("add1").style.visibility="visible";
        }
        for(var i=0;i<data3.length;i++){
            if(index=="size_"+i){
                size=document.getElementById("size_"+i).value;
                document.getElementById("size_"+i).style.color="#c99947";
                document.getElementById("size_"+i).style.fontSize = "x-large";
            }
            else{
                document.getElementById("size_"+i).style.color="black";
                document.getElementById("size_"+i).style.fontSize = "initial";
            }
        }
    }
    function AddToFav(id){
            
        var url="/add_to_wishlist/".concat(id);
            $.ajax({
                type: "POST",
                url: url,
                success: function(msg){
                    if (msg=="Added Successfully"){
                        alert(msg);
                    }
                    else{
                        window.location.href='/login/';
                    }
              }
            });
    }
    function AddToCart(id) {
        var url="/add_to_cart/";
        if(color=='' && size==''){
            document.getElementById('alert').innerHTML="Please select color and size";
        }
        else if(size==''){
            document.getElementById('alert').innerHTML="Please select size";
        }
        else if(color==''){
            document.getElementById('alert').innerHTML="Please select color";
        }
        else{
            data={'item_id':id,'color':color,'size':size,'image':image};
            $.ajax({
                type: "POST",
                url: url,
                data:JSON.stringify(data),
                contentType:'application/json;charset=UTF-8',
                success: function(msg){
                    if (msg=="Added Successfully"){
                        alert(msg);
                    }
                    else{
                        window.location.href='/login/';
                    }
                }
            });
        }

    }
    function myFunction() {
              document.getElementById("myDropdown").classList.toggle("show");
            }

        function filterFunction() {
                  var input, filter, ul, li, a, i;
                  input = document.getElementById("myInput");
                  filter = input.value.toUpperCase();
                  div = document.getElementById("myDropdown");
                  a = div.getElementsByTagName("a");
                  for (i = 0; i < a.length; i++) {
                    txtValue = a[i].textContent || a[i].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                      a[i].style.display = "";
                    } else {
                      a[i].style.display = "none";
                    }
                  }
                }
          function myFunction2() {
              document.getElementById("myDropdown2").classList.toggle("show");
            }

        function filterFunction2() {
                  var input, filter, ul, li, a, i;
                  input = document.getElementById("myInput2");
                  filter = input.value.toUpperCase();
                  div = document.getElementById("myDropdown2");
                  a = div.getElementsByTagName("a");
                  for (i = 0; i < a.length; i++) {
                    txtValue = a[i].textContent || a[i].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                      a[i].style.display = "";
                    } else {
                      a[i].style.display = "none";
                    }
                  }
                }
</script>
</html>