<!DOCTYPE html>
<html>
    <head>
        <title>Style UP</title>
        <meta name="viewport" content="width=device-width">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/shop.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>
            function AddToFav(id) {
                var url="/background_process_test/".concat(id);
                $.ajax({
                    type: "POST",
                    url: url,
                    success: function(msg){
                        alert( msg );
                  }
                });
            }
            
        </script>
    </head>
<body>
        <header>
            <div class="navbar">
                <div class="unit1">
                    <a href="/"><button class="nav_item"> Home</button></a>
                    <button class="nav_item">Category
                        <ul class="submenu">
                            <li><a href="/men/" class="nav_item" style="font-weight: bolder;"> Men</a></li>
                            <div class="nav_item">
                                &nbsp;<li><b ><pre>Topwear </pre></b></li>
                                <div class="subcategory" id="id1">
                                    <ul >
                                        <li><a href="/shop/menshirts" class="nav_item" name="shirts" >Shirts</a></li>
                                        <li><a href="" class="nav_item" name="sweaters">Sweaters</a></li>
                                        <li><a href="" class="nav_item" name="suits">Suits</a></li><br>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="nav_item">
                                &nbsp;<li><b><pre> Bottomwear </pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="" class="nav_item" name="jeans" >Jeans</a></li>
                                        <li><a href="" class="nav_item" name="trousers">Trousers</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav_item">
                                &nbsp;<li><b><pre> Festive wear</pre></b></li>
                                <div class="subcategory">
                                    <ul>
                                        <li><a href="" class="nav_item" name="kurtas">Kurtas & Kurtis</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <li><a href="/women/" class="nav_item" style="clear: left;font-weight: bolder;">Women</a></li>
                            
                            <div class="nav_item">
                                &nbsp;<li><b><pre>Indianwear </pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="" class="nav_item" name="kurtas" >Kurtas & Kurtis</a></li>
                                        <li><a href="" class="nav_item" name="ethnic" >Ethnic</a></li>
                                        <li><a href="" class="nav_item" name="saree" style="clear: left;">Sarees</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="nav_item">
                                &nbsp;<li><b><pre> Westernwear </pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="" class="nav_item" name="dress" >Dresses</a></li>
                                        <li><a href="" class="nav_item" name="jumpsuit">Jumpsuit</a></li>
                                        <li><a href="" class="nav_item" name="sweatshirts">Sweatshirts</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav_item">
                                &nbsp;<li><b ><pre> Bottomwear</pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="" class="nav_item" name="skirts" >Skirts</a></li>
                                        <li><a href="" class="nav_item" name="palazzo">Palazzos</a></li>
                                        <li><a href="" class="nav_item" name="jeans">Jeans</a></li>
                                    </ul>
                                </div>
                            </div>

                            <li><a href="/kids/" class="nav_item" style="font-weight: bolder;clear:left;">Kids</a></li><br>
                            <div class="nav_item">
                                &nbsp;<li><b><pre>Boys </pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="" class="nav_item" name="shirts" >Shirts</a></li>
                                        <li><a href="" class="nav_item" name="trousers">Trousers</a></li>
                                        <li><a href="" class="nav_item" name="sets">Sets</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav_item">
                                &nbsp;<li><b><pre> Girls</pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="" class="nav_item" name="dress" >Dresses</a></li>
                                        <li><a href="" class="nav_item" name="skirts">Skirts</a></li>
                                        <li><a href="" class="nav_item" name="sets">Sets</a></li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </button>
                    <a href="/blog/"><button class="nav_item">Blog</button></a>
                </div>
                <div class="unit2">
                    <form action="">
                        <button type="submit"><i class="fa fa-user" ></i></button>
                    </form>
                    <form action="">
                        <button type="submit"><i class="fa fa-shopping-cart" ></i></button>
                    </form>
                    <form action="">
                        <button type="submit"><i class="fa fa-heart"></i></button>
                    </form>
                    <form action="" >
                        <input type="text" name="search" placeholder="Search here.." style="border:none;outline:none;">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
            <div id="mySidenav" class="sidenav">
                <ul>
                    <li><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></li>
                    <li><a href="/">Home</a></li>
                    <li> Category
                            <ul class="submenu">
                                <li><a href="/men/">Men</a></li>
                                <li><a href="/women/" >Women</a></li>
                                <li><a href="/kids/" >Kids</a></li>
                            </ul>
                    </li>
                    <li><a href="/blog/">Blog</a></li>
                </ul>
            </div>
            <span class="sidemenu-content" onclick="openNav()">&#9776; </span>
                <div class="unit3">
                    <form action="">
                        <button><i class="fa fa-user" ></i></button>
                    </form>
                    <form action="">
                        <button><i class="fa fa-shopping-cart" ></i></button>
                    </form>
                    <form action="">
                        <button><i class="fa fa-heart"></i></button>
                    </form>
                    <form action="">

                        <button type="submit" style="float: right;"><i class="fa fa-search" ></i></button>
                        <div class="unit4">
                            <input type="text" name="search" placeholder="Search here.." size="13"  style="border:none;outline:none;">
                        </div>
                    </form>
                </div>
        </header>
        <br>
        <div class="content">
            <div class="head2">
                <p class="logo" ><b>S T Y L E U P</b></p>
                <div style="margin-left: 50%;">
                    <button onclick="document.getElementById('filter').style.display='block'" class="filter">Filter</button></p>
                    <div id="filter" class="modal"  >
                        
                        <form action="/filter/" method="POST">
                            <div class="pop-container"> 
                                <div class="form" style="background-color: #eaeaea;">
                                  <div class="abc">
                                    <span onclick="document.getElementById('filter').style.display='none'" class="close" title="close modal">x</span>
                                    <input type="button" onclick="javascript:mycolor()" value="Color" required>
                                    <div id="color">
                                        <input type="radio" name="color" value="red">Red<br>
                                        <input type="radio" name="color" value="blue">Blue
                                    </div>
                                    <br>
                                    <input type="button" onclick="javascript:mycategory()" value="Category" required>
                                    <div id="category">
                                        <input type="radio" name="category" value="men">Men <br>
                                        <input type="radio" name="category" value="women">Women<br>
                                        <input type="radio" name="category" value="kids" >Kids
                                    </div>
                                    <br>
                                    <input type="button" onclick="javascript:mysize()" value="Size" required>
                                    <div id="size">
                                        <input type="radio" name="size" value="XS">XS <br>
                                        <input type="radio" name="size" value="S">S<br>
                                        <input type="radio" name="size" value="M" >M <br>
                                        <input type="radio" name="size" value="L" >L <br>
                                        <input type="radio" name="size" value="XL">XL <br>
                                    </div>
                                    <input type="submit" value="Apply">
                                </div>
                              </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>    
        </div>
        <div class="container">
            {% for i in data %}
            <div class="shop-container">
                    <a href="/product/{{ i[1] }}"><img src="{{ url_for('static' ,filename=i[4]) }}" alt=""></a>
                    <div class="details-container">
                        
                            <button style="float: right;" onclick="AddToFav('{{ i[1] }}')"><i class="fa fa-heart" ></i></button></a>
                            <p>{{ i[2] }} &nbsp;&nbsp;&#8377;{{ i[3] }}</p>
                    </div> 
                    <br>
                </div>
            {% endfor %}
        </div>
    </body>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
        function mycolor() {
                document.getElementById('color').style.display="block";
                document.getElementById('category').style.display="none";
                document.getElementById('size').style.display="none";
                documeent.getElementById('brands').style.display="none";
                
            }
            function mycategory() {
                document.getElementById('category').style.display="block";
                document.getElementById('size').style.display="none";
                document.getElementById('color').style.display="none";
                documeent.getElementById('brands').style.display="none";
                
            }
            function mysize() {
                document.getElementById('size').style.display="block";
                document.getElementById('category').style.display="none";
                documeent.getElementById('brands').style.display="none";
                document.getElementById('color').style.display="none";
            }
    </script>
</html>