<!DOCTYPE html>
<html>
    <head>
        <title>Style UP| Women</title>
        <meta name="viewport" content="width=device-width">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/men.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Lexend Giga' rel='stylesheet'>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    </head>
<body>
<header>
            <div class="navbar">
                <div class="unit1">
                    <a href="/"><button class="nav_item"> Home</button></a>
                    <button class="nav_item">Category
                        <ul class="submenu">
                            <li><a href="/men/" class="nav_item" style="font-weight: bolder;"> Men</a></li>
                            <div class="nav_item">
                                &nbsp;<li><b ><pre>Topwear </pre></b></li>
                                <div class="subcategory" id="id1">
                                    <ul >
                                        <li><a href="/shop/men_shirts" class="nav_item" name="shirts" >Shirts</a></li>
                                        <li><a href="/shop/men_sweaters" class="nav_item" name="sweaters">Sweaters</a></li>
                                        <li><a href="/shop/men_suits" class="nav_item" name="suits">Suits</a></li><br>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="nav_item">
                                &nbsp;<li><b><pre> Bottomwear </pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="/shop/men_jeans" class="nav_item" name="jeans" >Jeans</a></li>
                                        <li><a href="/shop/men_trousers" class="nav_item" name="trousers">Trousers</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav_item">
                                &nbsp;<li><b><pre> Festive wear</pre></b></li>
                                <div class="subcategory">
                                    <ul>
                                        <li><a href="/shop/men_kurtas" class="nav_item" name="kurtas">Kurtas & Kurtis</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <li><a href="/women/" class="nav_item" style="clear: left;font-weight: bolder;">Women</a></li>
                            
                            <div class="nav_item">
                                &nbsp;<li><b><pre>Indianwear </pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="/shop/women_kurtas" class="nav_item" name="kurtas" >Kurtas & Kurtis</a></li>
                                        <li><a href="/shop/women_ethnic" class="nav_item" name="ethnic" >Ethnic</a></li>
                                        <li><a href="/shop/women_sarees" class="nav_item" name="saree" style="clear: left;">Sarees</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="nav_item">
                                &nbsp;<li><b><pre> Westernwear </pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="/shop/women_dresses" class="nav_item" name="dress" >Dresses</a></li>
                                        <li><a href="/shop/women_jumpsuits" class="nav_item" name="jumpsuit">Jumpsuit</a></li>
                                        <li><a href="/shop/women_sweatshirts" class="nav_item" name="sweatshirts">Sweatshirts</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav_item">
                                &nbsp;<li><b ><pre> Bottomwear</pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="/shop/women_skirts" class="nav_item" name="skirts" >Skirts</a></li>
                                        <li><a href="/shop/women_palazzos" class="nav_item" name="palazzo">Palazzos</a></li>
                                        <li><a href="/shop/women_jeans" class="nav_item" name="jeans">Jeans</a></li>
                                    </ul>
                                </div>
                            </div>

                            <li><a href="/kids/" class="nav_item" style="font-weight: bolder;clear:left;">Kids</a></li><br>
                            <div class="nav_item">
                                &nbsp;<li><b><pre>Boys </pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="/shop/boys_shirts" class="nav_item" name="shirts" >Shirts</a></li>
                                        <li><a href="/shop/boys_trousers" class="nav_item" name="trousers">Trousers</a></li>
                                        <li><a href="/shop/boys_sets" class="nav_item" name="sets">Sets</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav_item">
                                &nbsp;<li><b><pre> Girls</pre></b></li>
                                <div class="subcategory">
                                    <ul >
                                        <li><a href="/shop/girls_dresses" class="nav_item" name="dress" >Dresses</a></li>
                                        <li><a href="/shop/girls_skirts" class="nav_item" name="skirts">Skirts</a></li>
                                        <li><a href="/shop/girls_sets" class="nav_item" name="sets">Sets</a></li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </button>
                    <a href="/blog/"><button class="nav_item">Blog</button></a>
                </div>
                <div class="unit2">
                    <form action="/logout/">
                        <button><i class="fa fa-power-off" ></i></button>
                    </form>
                    <form action="/profile/">
                        <button><i class="fa fa-user" ></i></button>
                    </form>
                    <form action="/cart/">
                        <button><i class="fa fa-shopping-cart" ></i></button>
                    </form>
                    <form action="/wishlist/">
                        <button><i class="fa fa-heart"></i></button>
                    </form>

                      <button style="float:right;" onclick="filterFunction();myFunction();" class="dropbtn"><i class="fa fa-search"></i></button>
                      <input style="margin-top:10px;padding:4px;" type="text" placeholder="Search.." id="myInput">
                    <div id="myDropdown" class="dropdown-content">
                          <a href="/shop/men_shirts">Men Shirts</a>
                          <a href="/shop/men_sweaters">Men Sweaters</a>
                          <a href="/shop/men_trousers">Men Trousers</a>
                          <a href="/shop/men_suits">Men suits</a>
                          <a href="/shop/men_jeans">Men Jeans</a>
                          <a href="/shop/men_kurtas">Men Kurtas and Kurtis</a>
                          <a href="/shop/boys_sets">Boys suits</a>
                      </div>

                </div>
            </div>
            <div id="mySidenav" class="sidenav">
                <ul>
                    <li><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></li>
                    <li><a href="/">Home</a></li>
                    <li> Category
                            <ul class="submenu">
                                <li><a href="/men/">Men</a></li>
                                <li><a href="/women/" >Women</a></li>
                                <li><a href="/kids/" >Kids</a></li>
                            </ul>
                    </li>
                    <li><a href="/blog/">Blog</a></li>
                </ul>
            </div>
            <span class="sidemenu-content" onclick="openNav()">&#9776; </span>
                <div class="unit3">
                    <form action="/logout/">
                        <button><i class="fa fa-power-off" ></i></button>
                    </form>
                    <form action="/profile/">
                        <button><i class="fa fa-user" ></i></button>
                    </form>
                    <form action="/cart/">
                        <button><i class="fa fa-shopping-cart" ></i></button>
                    </form>
                    <form action="/wishlist/">
                        <button><i class="fa fa-heart"></i></button>
                    </form>

                      <button style="float:right;"onclick="filterFunction2();myFunction2();" class="dropbtn2"><i class="fa fa-search"></i></button>
                      <input style="float:right;margin-top:10px;" type="text" placeholder="Search.." size="8" id="myInput2">
                    <div id="myDropdown2" class="dropdown-content2">
                        <a href="/shop/men_shirts">Men Shirts</a>
                        <a href="/shop/men_sweaters">Men Sweaters</a>
                        <a href="/shop/men_trousers">Men Trousers</a>
                        <a href="/shop/men_suits">Men suits</a>
                        <a href="/shop/men_jeans">Men Jeans</a>
                        <a href="/shop/men_kurtas">Men Kurtas and Kurtis</a>
                        <a href="/shop/boys_sets">Boys suits</a>
                      </div>
                </div>
        </header>
        <br>
        <div class="content">
            <div class="head2">
                <p class="logo"><b>S T Y L E U P</b></p>
                <div class="ctg">

                    <a class="circle" href="/men/"><i style="font-size:24px;" class="fa">&#xf183;</i>Men</a>
                    <a class="circle" href="/women/"> <i style="font-size:24px" class="fa">&#xf182;</i>Women</a>
                    <a class="circle" href="/kids/"><i style="font-size:24px" class="fa">&#xf1ae;</i>Kids</a>
                </div>
            </div>

        <div class="container2">
            <div class="slideshow-container">
                <div class="mySlides fade">
                  <img class="image_height"src="../static/images/women_slide1.jpg" style="width:100%;height:570px;">
                </div>

                <div class="mySlides fade">
                  <img class="image_height"  src="../static/images/women_slide2.jpg" style="width:100%;height:570px;">
                </div>

                <div class="mySlides fade">
                  <img class="image_height"  src="../static/images/women_slide3.jpg" style="width:100%;height:570px;">
                </div>

                <div class="mySlides fade">
                  <img class="image_height"  src="../static/images/women_slide4.jpg" style="width:100%;height:570px;">
                </div>

                </div>
                <br>

                <div style="text-align:center">
                  <span class="dot"></span>
                  <span class="dot"></span>
                  <span class="dot"></span>
                    <span class="dot"></span>
                </div>

        </div>
            <div class="container3">
                <p><b>CATEGORIES TO BAG</b></p>
            </div >
        <div class="container4">
            <div class="polaroid">
                <a href="#" title="Kurtas & Kurtis">
                    <img src="../static/images/women_category1.jpg" alt="Santorini"  />
                </a>
                <a href="#" title="Ethnic">
                    <img  src="../static/images/women_category2.jpg" alt="Santorini" title="Sweaters" />
                </a>
                <a href="#" title="Sarees">
                    <img  src="../static/images/women_category3.webp" alt="Santorini" title="Suits" />
                </a>
                <a href="#" title="Dresses">
                    <img  src="../static/images/women_category4.jfif" alt="Santorini" title="Jeans" />
                </a>
                <a href="#" title="Jumpsuits">
                    <img  src="../static/images/women_category5.webp" alt="Santorini" title="Trousers" />
                </a>
                <a href="#" title="Sweatshirts">
                    <img  src="../static/images/women_category6.webp" alt="Santorini" title="Festive Wear" />
                </a>
                <div class="sub4">
                    </a>
                <a href="#" title="Skirts">
                    <img  src="../static/images/women_category7.jfif" alt="Santorini" title="Jeans" />
                </a>
                <a href="#" title="Palazzos">
                    <img  src="../static/images/women_category8.jpg" alt="Santorini" title="Trousers" />
                </a>
                <a href="#" title="Jeans">
                    <img  src="../static/images/women_category9.jpg" alt="Santorini" title="Festive Wear" />
                </a>
                </div>
            </div>
        </div>
        </div>
        <br>
        <div class="container3">
            <p><b>BIGGEST DEALS ON TOP BRANDS</b></p>
        </div >
        <div class="container5">
                    <div class="polaroid2">
                        <a href="#">
                            <img src="../static/images/women_topbrands1.jpg" alt="Santorini"/><b>BIBA</b>
                            <p>Up To 50% OFF</p>
                        </a>
                        <a href="#">
                            <img  src="../static/images/women_topbrands4.webp" alt="Santorini" title="Sweaters" /><b>H & M</b>
                            <p>30-50% OFF</p>
                        </a>
                        <a href="#">
                            <img  src="../static/images/women_topbrands3.jpg" alt="Santorini" title="Suits" /><b>Reliance Trends</b>
                            <p>FLAT 40% OFF</p>
                        </a>
                        <a href="#" >
                            <img  src="../static/images/women_topbrands2.jpg" alt="Santorini" title="Jeans" /><b>Jack & Jones</b>
                            <p>40-60% OFF</p>
                        </a>
                        <a href="#" >
                            <img  src="../static/images/women_topbrands5.webp" alt="Santorini" title="Trousers" /><b>AJIO</b>
                            <p>Min. 30% OFF</p>
                        </a>
                    </div>
                </div>
                <br>
            <div class="ele4">
                <p id=" logosmall"class="logo"><b>S T Y L E U P</b></p>
                <div class="vl"></div>
                <blockquote> “Putting on a beautifully designed suit elevates my spirit, extols my sense of self, and helps define me as a man to whom details matter.” – Gay Talese
                </blockquote>
        </div>
        <br>

    </body>
<script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
        var slideIndex = 0;
        showSlides();

        function showSlides() {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
          }
          slideIndex++;
          if (slideIndex > slides.length) {slideIndex = 1}
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
          setTimeout(showSlides, 2000); // Change image every 2 seconds
        }
        </script>
</html>