.container{
    float: left;
    clear: left;
    margin-left: 6%;
    margin-right: 10%;
    width: 40%;
}
.checkout-container{
    position: absolute;
    margin-top: 8%;
    margin-left: 30%;
    display: inline-block;
    width: 35%;
    background-color: #eaeaea;
    border: 5px solid white;
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
}
.shop-container{
    display: inline-block;
    width: 100%;
    height: 25%;
    padding: 1%;
    padding-bottom: 0;
    background-color: #eaeaea;
    border: 10px solid white;
    list-style-type: none;
}
.icon-container {
    margin-left: 5%;
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }

.checkout-container input[type=text] {
    width: 80%;
    margin-left: 5%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .checkout-container input[type=submit] {
  background-color:black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  margin-left: 30%;
}

.checkout-container input[type=submit]:hover {
  opacity: 0.8;
}
  label {
      margin-left: 5%;
    margin-bottom: 10px;
    display: block;
  }

.shop-container a>img{
    float: left;
    width: 150px;
    height: 150px;
}

.details-container{
    margin-left: 50%;
    font-weight: bold;
    font-size: large;
    padding-top: 1%;
    font-style: italic;
}
.details-container>p{
    margin: 5px;
}

@media(max-width:819px){
    .shop-container{
        width: 90%;
        float: none;
    }
    .container{
        margin-top: 20%;
        margin-left:0 ;
        float: none;
        width: 80%;
    }
    
    .checkout-container{
        float: none;
        width: 70%;
        margin-left: 10%;
        margin-top: 0;
    }
    .checkout-container input[type=submit]{
        margin-left: 0;
        width: 100%;
    }
    table {
        margin-left: 5%;
        border: 0;
      }
      table th {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      
      table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
      }
      
      table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
      }
    table td::before{
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
}
.cart-container{
    display: inline-block;
    padding-top: 2%;
    width: 97%;
    margin-left: 10%;
    font-weight: bolder;
    color: #c99947;
    background-color: white;
    border: 10px solid #eaeaea;
}
.invoice-container{
    display: none;
    background-color:white;
    width: 80%;
    top: 40%;
    margin-left: 9%;
    position: absolute;
    z-index: 0;
    border:5px solid #c99947;
}
.invoice-container p{
    margin: 5px;
}
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }

  .close:hover{
    color: #c99947;
  }

  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 80%;
    table-layout: fixed;
  }
table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}
  
.table-content{
    margin-left: auto;
    margin-right: auto;
    clear: both;
}